Repository rapidsai/rapidsmpf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rapidsmpf-cpp-codeowners, @rapidsai/rapidsmpf-python-codeowners, @rapidsai/rapidsmpf-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/                     @rapidsai/rapidsmpf-cpp-codeowners

#python code owners
python/                  @rapidsai/rapidsmpf-python-codeowners

#cmake code owners
CMakeLists.txt           @rapidsai/rapidsmpf-cmake-codeowners
**/cmake/                @rapidsai/rapidsmpf-cmake-codeowners
*.cmake                  @rapidsai/rapidsmpf-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners

#packaging code owners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners
/.devcontainer/          @rapidsai/packaging-codeowners
/conda/                  @rapidsai/packaging-codeowners
dependencies.yaml        @rapidsai/packaging-codeowners
/build.sh                @rapidsai/packaging-codeowners
pyproject.toml           @rapidsai/packaging-codeowners

python: rename to get_main_record
  python/rapidsmpf/rapidsmpf/benchmarks/streaming_benchmark.py
  python/rapidsmpf/rapidsmpf/examples/bulk_mpi_shuffle.py
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pxd
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pyi
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pyx
Owners: @rapidsai/rapidsmpf-python-codeowners

doc
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

move concat and stringify macros to utils.hpp
  cpp/include/rapidsmpf/error.hpp
  cpp/include/rapidsmpf/nvtx.hpp
  cpp/include/rapidsmpf/utils.hpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

Progress thread hang during a test failure while its paused (#336)
  cpp/include/rapidsmpf/progress_thread.hpp
  cpp/src/progress_thread.cpp
  cpp/tests/test_progress_thread.cpp
  cpp/tests/test_shuffler.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

define CMAKE_PREFIX_PATH for devcontainer CI job
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

set -DBUILD_TESTS=OFF
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

include openmpi and mpi4py in pip requirements
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

doc
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pyx
Owners: @rapidsai/rapidsmpf-cpp-codeowners, @rapidsai/rapidsmpf-python-codeowners

cleanup
  cpp/tests/test_rmm_resource_adaptor.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

cod
  cpp/src/shuffler/shuffler.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

EXPECT_EQ everywhere
  cpp/tests/test_rmm_resource_adaptor.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

feat(shellcheck): add pre-commit hook and fix all warnings and errors
  .pre-commit-config.yaml
  .shellcheckrc
  build.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/checks/doxygen.sh
  ci/run_ctests.sh
  ci/run_pytests.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/validate_wheel.sh
  cpp/scripts/run-cmake-format.sh
Owners: @rapidsai/packaging-codeowners, @rapidsai/ci-codeowners, @rapidsai/rapidsmpf-cpp-codeowners
