Repository rapidsai/rapidsmpf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rapids-multi-gpu-cpp-codeowners, @rapidsai/rapids-multi-gpu-python-codeowners, @rapidsai/rapids-multi-gpu-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/                     @rapidsai/rapids-multi-gpu-cpp-codeowners

#python code owners
python/                  @rapidsai/rapids-multi-gpu-python-codeowners

#cmake code owners
CMakeLists.txt           @rapidsai/rapids-multi-gpu-cmake-codeowners
**/cmake/                @rapidsai/rapids-multi-gpu-cmake-codeowners
*.cmake                  @rapidsai/rapids-multi-gpu-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners

#packaging code owners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners
/.devcontainer/          @rapidsai/packaging-codeowners
/conda/                  @rapidsai/packaging-codeowners
dependencies.yaml        @rapidsai/packaging-codeowners
/build.sh                @rapidsai/packaging-codeowners
pyproject.toml           @rapidsai/packaging-codeowners

Runs shuffle tests with both MPI and UCXX communicators
  python/rapidsmp/rapidsmp/tests/test_shuffler.py
Owners: @rapidsai/rapids-multi-gpu-python-codeowners

Fix linting
  python/rapidsmp/rapidsmp/communicator/ucxx.pyx
Owners: @rapidsai/rapids-multi-gpu-python-codeowners

start with dask-poc wait_for changes
  cpp/include/rapidsmp/shuffler/finish_counter.hpp
  cpp/include/rapidsmp/shuffler/shuffler.hpp
  cpp/src/shuffler/finish_counter.cpp
  python/rapidsmp/rapidsmp/shuffler.pxd
  python/rapidsmp/rapidsmp/shuffler.pyi
  python/rapidsmp/rapidsmp/shuffler.pyx
Owners: @rapidsai/rapids-multi-gpu-cpp-codeowners, @rapidsai/rapids-multi-gpu-python-codeowners

cleanup
  cpp/include/rapidsmp/shuffler/shuffler.hpp
  cpp/include/rapidsmp/statistics.hpp
  cpp/tests/test_statistics.cpp
Owners: @rapidsai/rapids-multi-gpu-cpp-codeowners

fix include
  cpp/tests/test_buffer_resource.cpp
Owners: @rapidsai/rapids-multi-gpu-cpp-codeowners

send statistics
  cpp/benchmarks/bench_shuffle.cpp
  cpp/examples/example_shuffle.cpp
  cpp/include/rapidsmp/shuffler/shuffler.hpp
  cpp/include/rapidsmp/statistics.hpp
  cpp/src/shuffler/shuffler.cpp
  cpp/tests/test_statistics.cpp
Owners: @rapidsai/rapids-multi-gpu-cpp-codeowners

python bindings
  python/rapidsmp/rapidsmp/CMakeLists.txt
  python/rapidsmp/rapidsmp/shuffler.pxd
  python/rapidsmp/rapidsmp/shuffler.pyi
  python/rapidsmp/rapidsmp/shuffler.pyx
  python/rapidsmp/rapidsmp/statistics.pxd
  python/rapidsmp/rapidsmp/statistics.pyi
  python/rapidsmp/rapidsmp/statistics.pyx
  python/rapidsmp/rapidsmp/tests/test_statistics.py
Owners: @rapidsai/rapids-multi-gpu-cmake-codeowners, @rapidsai/rapids-multi-gpu-python-codeowners

Ensure Dask tests don't run with multiple MPI processes
  python/rapidsmp/rapidsmp/tests/test_dask.py
Owners: @rapidsai/rapids-multi-gpu-python-codeowners

Use pytest `--import-mode=append`
  python/rapidsmp/pyproject.toml
Owners: @rapidsai/packaging-codeowners

add basic wait_on support
  cpp/include/rapidsmp/shuffler/finish_counter.hpp
  cpp/include/rapidsmp/shuffler/shuffler.hpp
  cpp/src/shuffler/finish_counter.cpp
  python/rapidsmp/rapidsmp/shuffler.pxd
  python/rapidsmp/rapidsmp/shuffler.pyi
  python/rapidsmp/rapidsmp/shuffler.pyx
  python/rapidsmp/rapidsmp/tests/test_shuffler.py
Owners: @rapidsai/rapids-multi-gpu-cpp-codeowners, @rapidsai/rapids-multi-gpu-python-codeowners

formatting
  cpp/include/rapidsmp/shuffler/finish_counter.hpp
  cpp/include/rapidsmp/shuffler/shuffler.hpp
  cpp/src/shuffler/finish_counter.cpp
  python/rapidsmp/rapidsmp/shuffler.pyx
Owners: @rapidsai/rapids-multi-gpu-cpp-codeowners, @rapidsai/rapids-multi-gpu-python-codeowners

reformat test file
  python/rapidsmp/rapidsmp/tests/test_shuffler.py
Owners: @rapidsai/rapids-multi-gpu-python-codeowners

avoid find_if
  cpp/src/shuffler/finish_counter.cpp
Owners: @rapidsai/rapids-multi-gpu-cpp-codeowners

remove while loop
  cpp/src/shuffler/finish_counter.cpp
Owners: @rapidsai/rapids-multi-gpu-cpp-codeowners

avoid unnecessary it def
  cpp/src/shuffler/finish_counter.cpp
Owners: @rapidsai/rapids-multi-gpu-cpp-codeowners

Combine MPI and UCXX in single fixture
  python/rapidsmp/rapidsmp/tests/conftest.py
  python/rapidsmp/rapidsmp/tests/test_examples.py
  python/rapidsmp/rapidsmp/tests/test_shuffler.py
Owners: @rapidsai/rapids-multi-gpu-python-codeowners

Use request.getfixturevalue to dynamically select comm fixture
  python/rapidsmp/rapidsmp/tests/conftest.py
Owners: @rapidsai/rapids-multi-gpu-python-codeowners
