Repository rapidsai/rapidsmpf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rapidsmpf-cpp-codeowners, @rapidsai/rapidsmpf-python-codeowners, @rapidsai/rapidsmpf-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/                     @rapidsai/rapidsmpf-cpp-codeowners

#python code owners
python/                  @rapidsai/rapidsmpf-python-codeowners

#cmake code owners
CMakeLists.txt           @rapidsai/rapidsmpf-cmake-codeowners
**/cmake/                @rapidsai/rapidsmpf-cmake-codeowners
*.cmake                  @rapidsai/rapidsmpf-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners

#packaging code owners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners
/.devcontainer/          @rapidsai/packaging-codeowners
/conda/                  @rapidsai/packaging-codeowners
dependencies.yaml        @rapidsai/packaging-codeowners
/build.sh                @rapidsai/packaging-codeowners
pyproject.toml           @rapidsai/packaging-codeowners

fixing error
  cpp/src/progress_thread.cpp
  cpp/tests/test_shuffler.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

precommit
  cpp/src/progress_thread.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

minor
  cpp/src/progress_thread.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

precommit
  cpp/src/progress_thread.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

Added extras for our dependencies
  dependencies.yaml
  python/rapidsmpf/pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update cpp/tests/test_shuffler.cpp
  cpp/tests/test_shuffler.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

added another test
  cpp/include/rapidsmpf/progress_thread.hpp
  cpp/src/progress_thread.cpp
  cpp/tests/test_progress_thread.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

minor change
  cpp/tests/test_progress_thread.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

typo
  cpp/tests/test_progress_thread.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

fix option name: "spill_device" => "dask_spill_device"
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
Owners: @rapidsai/rapidsmpf-python-codeowners

insert_if_absent
  cpp/include/rapidsmpf/config.hpp
  cpp/src/config.cpp
  cpp/tests/test_config.cpp
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
Owners: @rapidsai/rapidsmpf-cpp-codeowners, @rapidsai/rapidsmpf-python-codeowners

python bindings of insert_if_absent
  python/rapidsmpf/rapidsmpf/config.pxd
  python/rapidsmpf/rapidsmpf/config.pyi
  python/rapidsmpf/rapidsmpf/config.pyx
  python/rapidsmpf/rapidsmpf/tests/test_config.py
Owners: @rapidsai/rapidsmpf-python-codeowners

bootstrap_dask_cluster(): use insert_if_absent
  CONFIG_OPTIONS.md
  python/rapidsmpf/rapidsmpf/integrations/dask/core.py
Owners: @rapidsai/rapidsmpf-python-codeowners

doc
  CONFIG_OPTIONS.md
  python/rapidsmpf/rapidsmpf/integrations/dask/core.py
Owners: @rapidsai/rapidsmpf-python-codeowners

doc
  CONFIG_OPTIONS.md
Owners: none

Add missing `__dealloc__` to `SpillManager`
  python/rapidsmpf/rapidsmpf/buffer/spill_manager.pyx
Owners: @rapidsai/rapidsmpf-python-codeowners

Handle is a raw pointer (from reference)
  python/rapidsmpf/rapidsmpf/buffer/spill_manager.pyx
Owners: @rapidsai/rapidsmpf-python-codeowners

fix(deps): ensure runtime deps come along with `librapidsmpf`
  dependencies.yaml
  python/librapidsmpf/pyproject.toml
Owners: @rapidsai/packaging-codeowners

cleanup
  cpp/src/config.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

moved options doc to README.md
  CONFIG_OPTIONS.md
  README.md
Owners: none

Config options: Use environment variables (#340)
  CONFIG_OPTIONS.md
  README.md
  cpp/include/rapidsmpf/config.hpp
  cpp/src/config.cpp
  cpp/tests/test_config.cpp
  python/rapidsmpf/rapidsmpf/config.pxd
  python/rapidsmpf/rapidsmpf/config.pyi
  python/rapidsmpf/rapidsmpf/config.pyx
  python/rapidsmpf/rapidsmpf/integrations/dask/core.py
  python/rapidsmpf/rapidsmpf/tests/test_config.py
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
Owners: @rapidsai/rapidsmpf-cpp-codeowners, @rapidsai/rapidsmpf-python-codeowners

Add missing `__dealloc__` to `SpillManager` (#341)
  python/rapidsmpf/rapidsmpf/buffer/spill_manager.pyx
Owners: @rapidsai/rapidsmpf-python-codeowners

format_nbytes(): take a double
  cpp/include/rapidsmpf/utils.hpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

rename: record => main_record
  cpp/benchmarks/bench_shuffle.cpp
  cpp/include/rapidsmpf/communicator/communicator.hpp
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  cpp/src/rmm_resource_adaptor.cpp
  cpp/src/shuffler/shuffler.cpp
  cpp/tests/test_buffer_resource.cpp
  cpp/tests/test_rmm_resource_adaptor.cpp
  cpp/tests/test_shuffler.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

doc
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

test begin_scoped_memory_record
  cpp/src/rmm_resource_adaptor.cpp
  cpp/tests/test_rmm_resource_adaptor.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

_MiB
  cpp/tests/test_rmm_resource_adaptor.cpp
  cpp/tests/utils.hpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

cleanup
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  cpp/src/rmm_resource_adaptor.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

fix naming
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  cpp/src/rmm_resource_adaptor.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

doc
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pyx
Owners: @rapidsai/rapidsmpf-cpp-codeowners, @rapidsai/rapidsmpf-python-codeowners

stats in std::int64_t
  cpp/benchmarks/bench_shuffle.cpp
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  cpp/src/rmm_resource_adaptor.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

docs
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

tests
  cpp/tests/test_rmm_resource_adaptor.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

more tests
  cpp/tests/test_rmm_resource_adaptor.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

cleanup
  cpp/benchmarks/bench_shuffle.cpp
  cpp/include/rapidsmpf/communicator/communicator.hpp
  cpp/src/rmm_resource_adaptor.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

cleanup
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  cpp/src/rmm_resource_adaptor.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

begin_scoped_memory_record
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  cpp/src/rmm_resource_adaptor.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

doc
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

add_subscope
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  cpp/src/rmm_resource_adaptor.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners

record_stacks_
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  cpp/src/rmm_resource_adaptor.cpp
Owners: @rapidsai/rapidsmpf-cpp-codeowners
