Repository rapidsai/rapidsmpf, changes with the labels that .github/labeler.yml gives for each.
All labels: librapidsmpf, CMake, ci, conda

Release `SpillManager` pointer without GIL (#208)
  python/rapidsmpf/rapidsmpf/buffer/resource.pyx
  python/rapidsmpf/rapidsmpf/buffer/spill_manager.pyx
Labels: none

Rename docs (#211)
  CONTRIBUTING.md
  README.md
  ci/build_docs.sh
  cpp/doxygen/Doxyfile
  cpp/doxygen/main_page.md
  docs/source/api.md
  docs/source/conf.py
  docs/source/index.md
  docs/source/quickstart.md
Labels: librapidsmpf, ci

Rename few missing entries to rapidsmpf
  ci/timeout_with_stack.py
  pyproject.toml
  python/rapidsmpf/rapidsmpf/buffer/packed_data.pxd
  python/rapidsmpf/rapidsmpf/buffer/packed_data.pyx
  python/rapidsmpf/rapidsmpf/shuffler.pyx
Labels: ci

Fix style
  python/rapidsmpf/rapidsmpf/tests/conftest.py
  python/rapidsmpf/rapidsmpf/tests/test_buffer_resource.py
  python/rapidsmpf/rapidsmpf/tests/test_communicator.py
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
  python/rapidsmpf/rapidsmpf/tests/test_dask_spilling.py
  python/rapidsmpf/rapidsmpf/tests/test_examples.py
  python/rapidsmpf/rapidsmpf/tests/test_shuffler.py
  python/rapidsmpf/rapidsmpf/tests/test_spill_manager.py
  python/rapidsmpf/rapidsmpf/tests/test_utils.py
Labels: none

Rename few missing entries to `rapidsmpf` (#212)
  ci/timeout_with_stack.py
  pyproject.toml
  python/rapidsmpf/rapidsmpf/buffer/packed_data.pxd
  python/rapidsmpf/rapidsmpf/buffer/packed_data.pyx
  python/rapidsmpf/rapidsmpf/shuffler.pyx
  python/rapidsmpf/rapidsmpf/tests/conftest.py
  python/rapidsmpf/rapidsmpf/tests/test_buffer_resource.py
  python/rapidsmpf/rapidsmpf/tests/test_communicator.py
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
  python/rapidsmpf/rapidsmpf/tests/test_dask_spilling.py
  python/rapidsmpf/rapidsmpf/tests/test_examples.py
  python/rapidsmpf/rapidsmpf/tests/test_shuffler.py
  python/rapidsmpf/rapidsmpf/tests/test_spill_manager.py
  python/rapidsmpf/rapidsmpf/tests/test_utils.py
Labels: ci

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

librapidsmpf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

ci:
  - 'ci/**'

conda:
  - 'conda/**'
