Repository rapidsai/rapidsmpf, pull requests merged in 2025-07, with the labels that each got.

#367 Remove eager threshold warning
  cpp/src/communicator/mpi.cpp
  cpp/src/communicator/ucxx.cpp
Labels: bug, non-breaking

#353 Allow building with AddressSanitizer
  README.md
  build.sh
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/examples/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  python/rapidsmpf/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/_detail/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/buffer/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/communicator/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/integrations/cudf/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/utils/CMakeLists.txt
Labels: feature request, non-breaking

#368 add docs on CI workflow inputs
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Labels: doc, non-breaking

#361 Adding python bindings for insert_grouped
  cpp/include/rapidsmpf/shuffler/shuffler.hpp
  cpp/src/shuffler/shuffler.cpp
  cpp/tests/test_shuffler.cpp
  python/rapidsmpf/rapidsmpf/shuffler.pxd
  python/rapidsmpf/rapidsmpf/shuffler.pyi
  python/rapidsmpf/rapidsmpf/shuffler.pyx
  python/rapidsmpf/rapidsmpf/tests/test_shuffler.py
Labels: improvement, non-breaking

#355 The C++ package is called rapidsmpf
  python/librapidsmpf/CMakeLists.txt
Labels: improvement, non-breaking

#375 Cleanup CUDA 11 entries and ensure custom Docker configs in wheels tests
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/recipes/librapidsmpf/conda_build_config.yaml
  conda/recipes/rapidsmpf/conda_build_config.yaml
Labels: improvement, non-breaking

#374 [MINOR] Add an option to use `concat_insert` in shuffle bench
  cpp/benchmarks/bench_shuffle.cpp
  cpp/src/shuffler/postbox.cpp
Labels: improvement, non-breaking

#378 `FinishCounter` improvements
  cpp/include/rapidsmpf/shuffler/finish_counter.hpp
  cpp/src/shuffler/finish_counter.cpp
  cpp/src/shuffler/shuffler.cpp
Labels: improvement, non-breaking

#382 fix(docker): use versioned `-latest` tag for all `rapidsai` images
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking

#389 fix: bump libucxx-cu12 lower bound to 0.46.0
  dependencies.yaml
Labels: improvement, non-breaking

#381 Fixing empty chunk extraction (#376)
  cpp/include/rapidsmpf/buffer/packed_data.hpp
  cpp/include/rapidsmpf/shuffler/finish_counter.hpp
  cpp/include/rapidsmpf/shuffler/postbox.hpp
  cpp/include/rapidsmpf/shuffler/shuffler.hpp
  cpp/src/shuffler/chunk.cpp
  cpp/src/shuffler/finish_counter.cpp
  cpp/src/shuffler/postbox.cpp
  cpp/src/shuffler/shuffler.cpp
  cpp/tests/test_chunk.cpp
  cpp/tests/test_shuffler.cpp
Labels: breaking, bug

#373 Remove need for wildcard receive in readyfordata ack
  cpp/benchmarks/bench_comm.cpp
  cpp/include/rapidsmpf/communicator/communicator.hpp
  cpp/include/rapidsmpf/communicator/mpi.hpp
  cpp/include/rapidsmpf/communicator/single.hpp
  cpp/include/rapidsmpf/communicator/ucxx.hpp
  cpp/include/rapidsmpf/shuffler/chunk.hpp
  cpp/src/communicator/mpi.cpp
  cpp/src/communicator/single.cpp
  cpp/src/communicator/ucxx.cpp
  cpp/src/shuffler/shuffler.cpp
Labels: improvement, non-breaking

#394 Use RapidsMPF's CUDA macros
  cpp/benchmarks/bench_comm.cpp
  cpp/benchmarks/bench_shuffle.cpp
  cpp/tests/test_rmm_resource_adaptor.cpp
Labels: bug, non-breaking

#396 Disable scanning for C++ files
  cpp/CMakeLists.txt
  python/librapidsmpf/CMakeLists.txt
  python/rapidsmpf/CMakeLists.txt
Labels: bug, non-breaking

#402 Explicitly default/delete move/copy-assignment for Future
  cpp/include/rapidsmpf/buffer/packed_data.hpp
  cpp/include/rapidsmpf/communicator/communicator.hpp
Labels: improvement, non-breaking

#403 Implement Communicator::wait
  cpp/include/rapidsmpf/communicator/communicator.hpp
  cpp/include/rapidsmpf/communicator/mpi.hpp
  cpp/include/rapidsmpf/communicator/single.hpp
  cpp/include/rapidsmpf/communicator/ucxx.hpp
  cpp/src/communicator/mpi.cpp
  cpp/src/communicator/single.cpp
  cpp/src/communicator/ucxx.cpp
Labels: improvement, non-breaking
