Repository rapidsai/rapidsmpf, pull requests merged in 2025-05, with the labels that each got.

#236 Organize chunks by destination rank in the `PostBox`
  cpp/include/rapidsmpf/shuffler/postbox.hpp
  cpp/include/rapidsmpf/shuffler/shuffler.hpp
  cpp/src/shuffler/postbox.cpp
  cpp/src/shuffler/shuffler.cpp
  cpp/tests/test_shuffler.cpp
Labels: improvement, non-breaking

#237 [Refactor] Dask worker context
  python/rapidsmpf/rapidsmpf/examples/dask.py
  python/rapidsmpf/rapidsmpf/integrations/dask/core.py
  python/rapidsmpf/rapidsmpf/integrations/dask/shuffler.py
  python/rapidsmpf/rapidsmpf/integrations/dask/spilling.py
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
Labels: breaking, improvement

#225 Use CUDA events instead of CUDA device/stream synchronization
  cpp/include/rapidsmpf/buffer/buffer.hpp
  cpp/include/rapidsmpf/buffer/resource.hpp
  cpp/include/rapidsmpf/communicator/communicator.hpp
  cpp/include/rapidsmpf/shuffler/chunk.hpp
  cpp/include/rapidsmpf/shuffler/postbox.hpp
  cpp/include/rapidsmpf/shuffler/shuffler.hpp
  cpp/src/buffer/buffer.cpp
  cpp/src/buffer/resource.cpp
  cpp/src/communicator/mpi.cpp
  cpp/src/communicator/ucxx.cpp
  cpp/src/shuffler/chunk.cpp
  cpp/src/shuffler/postbox.cpp
  cpp/src/shuffler/shuffler.cpp
  cpp/tests/test_buffer_resource.cpp
  cpp/tests/test_shuffler.cpp
Labels: improvement, non-breaking

#248 Python spilling: use chunked packing with a staging buffer
  python/rapidsmpf/rapidsmpf/buffer/spill_collection.py
  python/rapidsmpf/rapidsmpf/integrations/dask/core.py
  python/rapidsmpf/rapidsmpf/integrations/dask/spilling.py
  python/rapidsmpf/rapidsmpf/tests/conftest.py
  python/rapidsmpf/rapidsmpf/tests/test_dask_spilling.py
  python/rapidsmpf/rapidsmpf/tests/test_spill_collection.py
Labels: improvement, non-breaking

#249 Implement `split_and_shuffle`, as a building block for sort-shuffling
  cpp/include/rapidsmpf/shuffler/partition.hpp
  cpp/src/shuffler/partition.cpp
  cpp/tests/test_shuffler.cpp
  python/rapidsmpf/rapidsmpf/shuffler.pyi
  python/rapidsmpf/rapidsmpf/shuffler.pyx
  python/rapidsmpf/rapidsmpf/tests/test_shuffler.py
Labels: improvement, non-breaking

#245 Fix `dependencies.yaml` pip requirements
  .gitignore
  conda/environments/all_cuda-128_arch-aarch64.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#253 ProgressThread: add sleep argument
  cpp/include/rapidsmpf/progress_thread.hpp
  cpp/src/progress_thread.cpp
Labels: improvement, non-breaking

#254 Dask shuffler cleanup
  python/rapidsmpf/rapidsmpf/integrations/dask/shuffler.py
  python/rapidsmpf/rapidsmpf/shuffler.pxd
  python/rapidsmpf/rapidsmpf/shuffler.pyi
  python/rapidsmpf/rapidsmpf/shuffler.pyx
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
Labels: bug, non-breaking

#257 [MINOR] Rename postboxes
  cpp/include/rapidsmpf/shuffler/shuffler.hpp
  cpp/src/shuffler/shuffler.cpp
Labels: improvement, non-breaking

#259 Branch 25.08 merge 25.06
  .gitignore
  conda/environments/all_cuda-128_arch-aarch64.yaml
  cpp/include/rapidsmpf/progress_thread.hpp
  cpp/include/rapidsmpf/shuffler/shuffler.hpp
  cpp/src/progress_thread.cpp
  cpp/src/shuffler/shuffler.cpp
  dependencies.yaml
  python/rapidsmpf/rapidsmpf/integrations/dask/shuffler.py
  python/rapidsmpf/rapidsmpf/shuffler.pxd
  python/rapidsmpf/rapidsmpf/shuffler.pyi
  python/rapidsmpf/rapidsmpf/shuffler.pyx
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
Labels: improvement, non-breaking

#262 Add support for Python 3.13
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/rapidsmpf/pyproject.toml
Labels: improvement, non-breaking

#264 Build and test with CUDA 12.9.0
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#256 Basic sorting support with Dask
  docs/source/quickstart.md
  python/rapidsmpf/rapidsmpf/examples/dask.py
  python/rapidsmpf/rapidsmpf/integrations/dask/shuffler.py
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
Labels: breaking, feature request

#261 Change get_gtest to link statically and remove tests from package
  cmake/thirdparty/get_gtest.cmake
  conda/recipes/librapidsmpf/install_librapidsmpf.sh
  cpp/benchmarks/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: improvement, non-breaking

#260 Optional MPI support
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/examples/CMakeLists.txt
  cpp/include/rapidsmpf/communicator/communicator.hpp
  cpp/src/shuffler/shuffler.cpp
  cpp/tests/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/buffer/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/communicator/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/communicator/__init__.py
  python/rapidsmpf/rapidsmpf/communicator/communicator.pxd
  python/rapidsmpf/rapidsmpf/communicator/communicator.pyi
  python/rapidsmpf/rapidsmpf/communicator/communicator.pyx
  python/rapidsmpf/rapidsmpf/tests/conftest.py
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
Labels: improvement, non-breaking

#267 Merge branch-25.06 into branch-25.08
  README.md
  cmake/thirdparty/get_gtest.cmake
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/librapidsmpf/install_librapidsmpf.sh
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/examples/CMakeLists.txt
  cpp/include/rapidsmpf/communicator/communicator.hpp
  cpp/src/shuffler/shuffler.cpp
  cpp/tests/CMakeLists.txt
  dependencies.yaml
  docs/source/quickstart.md
  python/rapidsmpf/pyproject.toml
  python/rapidsmpf/rapidsmpf/buffer/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/communicator/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/communicator/__init__.py
  python/rapidsmpf/rapidsmpf/communicator/communicator.pxd
  python/rapidsmpf/rapidsmpf/communicator/communicator.pyi
  python/rapidsmpf/rapidsmpf/communicator/communicator.pyx
  python/rapidsmpf/rapidsmpf/examples/dask.py
  python/rapidsmpf/rapidsmpf/integrations/dask/shuffler.py
  python/rapidsmpf/rapidsmpf/tests/conftest.py
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
Labels: improvement, non-breaking

#272 Skip Ray for Python 3.13
  dependencies.yaml
Labels: bug, non-breaking

#274 use GitHub Actions artifact store for package downloads
  ci/build_docs.sh
  ci/build_python.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: improvement, non-breaking

#277 Remove spdlog dep
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#228 Create PackedData from cudf PackedColumns
  python/rapidsmpf/rapidsmpf/benchmarks/streaming_benchmark.py
  python/rapidsmpf/rapidsmpf/buffer/packed_data.pxd
  python/rapidsmpf/rapidsmpf/buffer/packed_data.pyi
  python/rapidsmpf/rapidsmpf/buffer/packed_data.pyx
Labels: improvement, non-breaking

#286 Install Ray from PyPI to build docs on Python 3.13
  dependencies.yaml
Labels: bug, non-breaking

#288 Forward-merge branch-25.06 into branch-25.08
  README.md
  cpp/include/rapidsmpf/buffer/buffer.hpp
  cpp/include/rapidsmpf/buffer/resource.hpp
  cpp/src/buffer/buffer.cpp
  cpp/src/buffer/resource.cpp
  cpp/tests/test_buffer_resource.cpp
  dependencies.yaml
  python/rapidsmpf/rapidsmpf/integrations/dask/_compat.py
  python/rapidsmpf/rapidsmpf/integrations/dask/core.py
Labels: improvement, non-breaking

#287 OOM protection by fallback to managed memory.
  cpp/include/rapidsmpf/buffer/rmm_fallback_resource.hpp
  cpp/tests/test_rmm_fallback_resource.cpp
  python/rapidsmpf/rapidsmpf/buffer/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/buffer/rmm_fallback_resource.pyi
  python/rapidsmpf/rapidsmpf/buffer/rmm_fallback_resource.pyx
  python/rapidsmpf/rapidsmpf/integrations/dask/core.py
  python/rapidsmpf/rapidsmpf/tests/test_rmm_fallback_resource.py
Labels: improvement, non-breaking

#285 Configuration System
  cpp/benchmarks/bench_comm.cpp
  cpp/benchmarks/bench_shuffle.cpp
  cpp/examples/example_shuffle.cpp
  cpp/include/rapidsmpf/communicator/communicator.hpp
  cpp/include/rapidsmpf/communicator/mpi.hpp
  cpp/include/rapidsmpf/communicator/ucxx.hpp
  cpp/include/rapidsmpf/communicator/ucxx_utils.hpp
  cpp/include/rapidsmpf/config.hpp
  cpp/include/rapidsmpf/option.hpp
  cpp/include/rapidsmpf/utils.hpp
  cpp/src/communicator/communicator.cpp
  cpp/src/communicator/mpi.cpp
  cpp/src/communicator/ucxx.cpp
  cpp/src/communicator/ucxx_utils.cpp
  cpp/src/config.cpp
  cpp/src/option.cpp
  cpp/src/utils.cpp
  cpp/tests/main/mpi.cpp
  cpp/tests/main/ucxx.cpp
  cpp/tests/test_config.cpp
  cpp/tests/test_utils.cpp
  python/rapidsmpf/rapidsmpf/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/benchmarks/streaming_benchmark.py
  python/rapidsmpf/rapidsmpf/communicator/mpi.pyi
  python/rapidsmpf/rapidsmpf/communicator/mpi.pyx
  python/rapidsmpf/rapidsmpf/communicator/testing.py
  python/rapidsmpf/rapidsmpf/communicator/ucxx.pyi
  python/rapidsmpf/rapidsmpf/communicator/ucxx.pyx
  python/rapidsmpf/rapidsmpf/config.pxd
  python/rapidsmpf/rapidsmpf/config.pyi
  python/rapidsmpf/rapidsmpf/config.pyx
  python/rapidsmpf/rapidsmpf/examples/bulk_mpi_shuffle.py
  python/rapidsmpf/rapidsmpf/integrations/dask/core.py
  python/rapidsmpf/rapidsmpf/integrations/ray.py
  python/rapidsmpf/rapidsmpf/tests/conftest.py
  python/rapidsmpf/rapidsmpf/tests/test_communicator.py
  python/rapidsmpf/rapidsmpf/tests/test_config.py
Labels: breaking, improvement

#294 Ensure we drop the gil when calling C++ dtors
  python/rapidsmpf/rapidsmpf/buffer/packed_data.pyx
  python/rapidsmpf/rapidsmpf/buffer/resource.pyx
  python/rapidsmpf/rapidsmpf/buffer/rmm_fallback_resource.pyx
  python/rapidsmpf/rapidsmpf/communicator/communicator.pyx
  python/rapidsmpf/rapidsmpf/config.pyx
  python/rapidsmpf/rapidsmpf/integrations/dask/shuffler.py
  python/rapidsmpf/rapidsmpf/progress_thread.pyx
  python/rapidsmpf/rapidsmpf/shuffler.pyx
  python/rapidsmpf/rapidsmpf/statistics.pyx
Labels: bug, non-breaking

#297 Support GCC version 11
  cpp/include/rapidsmpf/config.hpp
  cpp/src/config.cpp
  cpp/tests/test_config.cpp
Labels: breaking, bug

#299 Serialization of Config Options
  cpp/include/rapidsmpf/config.hpp
  cpp/src/config.cpp
  cpp/tests/test_config.cpp
  python/rapidsmpf/rapidsmpf/config.pxd
  python/rapidsmpf/rapidsmpf/config.pyi
  python/rapidsmpf/rapidsmpf/config.pyx
  python/rapidsmpf/rapidsmpf/tests/test_config.py
Labels: improvement, non-breaking

#289 feat: port conda recipes to `rattler-build`
  ci/build_cpp.sh
  ci/build_python.sh
  conda/recipes/librapidsmpf/build.sh
  conda/recipes/librapidsmpf/install_librapidsmpf.sh
  conda/recipes/librapidsmpf/install_librapidsmpf_tests.sh
  conda/recipes/librapidsmpf/meta.yaml
  conda/recipes/librapidsmpf/recipe.yaml
  conda/recipes/rapidsmpf/build.sh
  conda/recipes/rapidsmpf/meta.yaml
  conda/recipes/rapidsmpf/recipe.yaml
  python/rapidsmpf/pyproject.toml
Labels: improvement, non-breaking

#308 stop uploading packages to downloads.rapids.ai
  ci/build_cpp.sh
  ci/build_python.sh
Labels: breaking, improvement

#307 Adding google benchmarks and `PartitionAndPack` bench
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/bench_partition.cpp
Labels: improvement, non-breaking

#316 [MINOR] Adding output partition count arg to benchmark
  cpp/benchmarks/bench_shuffle.cpp
Labels: improvement, non-breaking

#319 add wheel publishing
  .github/workflows/build.yaml
  ci/build_wheel_librapidsmpf.sh
  ci/build_wheel_rapidsmpf.sh
Labels: improvement, non-breaking

#320 Remove ucxx Python CMake workarounds
  python/rapidsmpf/CMakeLists.txt
Labels: bug, non-breaking

#325 add wheel publishing
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#327 Fix `benchmark::DoNotOptimize` deprecation warning
  cpp/benchmarks/bench_partition.cpp
Labels: bug, non-breaking

#323 Improve the performance of rapidsmpf_shuffle_graph
  python/rapidsmpf/rapidsmpf/integrations/dask/shuffler.py
Labels: improvement, non-breaking
