Repository rapidsai/rapidsmpf, pull requests merged in 2025-04, with the labels that each got.

#223 Update to new repository name
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  ci/release/update-version.sh
  ci/run_ctests.sh
  conda/recipes/librapidsmpf/meta.yaml
  cpp/src/communicator/ucxx.cpp
  dependencies.yaml
  python/rapidsmpf/pyproject.toml
  python/rapidsmpf/rapidsmpf/buffer/packed_data.pyx
  python/rapidsmpf/rapidsmpf/buffer/resource.pxd
  python/rapidsmpf/rapidsmpf/buffer/spill_manager.pyx
  python/rapidsmpf/rapidsmpf/communicator/mpi.pyx
  python/rapidsmpf/rapidsmpf/communicator/ucxx.pyx
  python/rapidsmpf/rapidsmpf/progress_thread.pxd
  python/rapidsmpf/rapidsmpf/progress_thread.pyx
  python/rapidsmpf/rapidsmpf/shuffler.pxd
  python/rapidsmpf/rapidsmpf/shuffler.pyx
Labels: feature request, non-breaking

#221 Upload conda packages
  .github/workflows/build.yaml
Labels: feature request, non-breaking

#222 Remove custom nightly pipeline
  .github/workflows/build.yaml
  .github/workflows/nightly-pipeline.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#220 Treat doc build warnings as errors
  docs/Makefile
  docs/source/api.md
  docs/source/conf.py
  python/rapidsmpf/rapidsmpf/buffer/resource.pyx
  python/rapidsmpf/rapidsmpf/integrations/dask/__init__.py
  python/rapidsmpf/rapidsmpf/integrations/dask/core.py
  python/rapidsmpf/rapidsmpf/integrations/dask/shuffler.py
  python/rapidsmpf/rapidsmpf/shuffler.pyx
Labels: doc, non-breaking

#229 Add missing `unordered_map` include
  cpp/include/rapidsmpf/shuffler/partition.hpp
Labels: bug, non-breaking

#233 More accurate cmake specs
  cpp/CMakeLists.txt
  python/rapidsmpf/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/communicator/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/utils/CMakeLists.txt
Labels: improvement, non-breaking
