Repository rapidsai/rapidsmpf, pull requests merged in 2025-06, with the labels that each got.

#312 RMM Resource Adaptor
  cpp/benchmarks/bench_shuffle.cpp
  cpp/benchmarks/utils/rmm_stack.hpp
  cpp/include/rapidsmpf/buffer/resource.hpp
  cpp/include/rapidsmpf/buffer/rmm_fallback_resource.hpp
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  cpp/src/rmm_resource_adaptor.cpp
  cpp/tests/test_buffer_resource.cpp
  cpp/tests/test_rmm_fallback_resource.cpp
  cpp/tests/test_rmm_resource_adaptor.cpp
  cpp/tests/test_shuffler.cpp
  cpp/tests/test_spill_manager.cpp
  python/rapidsmpf/rapidsmpf/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/benchmarks/streaming_benchmark.py
  python/rapidsmpf/rapidsmpf/buffer/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/buffer/resource.pxd
  python/rapidsmpf/rapidsmpf/buffer/resource.pyi
  python/rapidsmpf/rapidsmpf/buffer/resource.pyx
  python/rapidsmpf/rapidsmpf/buffer/rmm_fallback_resource.pyi
  python/rapidsmpf/rapidsmpf/buffer/rmm_fallback_resource.pyx
  python/rapidsmpf/rapidsmpf/examples/bulk_mpi_shuffle.py
  python/rapidsmpf/rapidsmpf/examples/ray/bulk_ray_shuffle.py
  python/rapidsmpf/rapidsmpf/integrations/dask/core.py
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pxd
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pyi
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pyx
  python/rapidsmpf/rapidsmpf/tests/test_buffer_resource.py
  python/rapidsmpf/rapidsmpf/tests/test_rmm_fallback_resource.py
  python/rapidsmpf/rapidsmpf/tests/test_rmm_resource_adaptor.py
  python/rapidsmpf/rapidsmpf/tests/test_spill_manager.py
Labels: breaking, improvement

#333 bootstrap_dask_cluster(): remove old args
  pyproject.toml
  python/rapidsmpf/rapidsmpf/integrations/dask/core.py
  python/rapidsmpf/rapidsmpf/integrations/dask/shuffler.py
Labels: breaking, improvement

#335 Add <cstring> header for std::memcpy
  cpp/src/shuffler/chunk.cpp
Labels: bug, non-breaking

#324 [MINOR] Adding shuffle benchmark with no partitioning
  cpp/benchmarks/bench_shuffle.cpp
Labels: improvement, non-breaking

#341 Add missing `__dealloc__` to `SpillManager`
  python/rapidsmpf/rapidsmpf/buffer/spill_manager.pyx
Labels: bug, non-breaking

#336 Progress thread hang during a test failure while its paused
  cpp/include/rapidsmpf/progress_thread.hpp
  cpp/src/progress_thread.cpp
  cpp/tests/test_progress_thread.cpp
  cpp/tests/test_shuffler.cpp
Labels: breaking, bug

#344 feat(shellcheck): add pre-commit hook and fix all warnings and errors
  .github/CODEOWNERS
  .pre-commit-config.yaml
  .shellcheckrc
  build.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/checks/doxygen.sh
  ci/run_ctests.sh
  ci/run_pytests.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/validate_wheel.sh
  cpp/scripts/run-cmake-format.sh
Labels: improvement, non-breaking

#343 Nested memory statistics
  cpp/benchmarks/bench_shuffle.cpp
  cpp/include/rapidsmpf/communicator/communicator.hpp
  cpp/include/rapidsmpf/error.hpp
  cpp/include/rapidsmpf/nvtx.hpp
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  cpp/include/rapidsmpf/utils.hpp
  cpp/src/rmm_resource_adaptor.cpp
  cpp/tests/test_buffer_resource.cpp
  cpp/tests/test_rmm_resource_adaptor.cpp
  cpp/tests/test_shuffler.cpp
  cpp/tests/utils.hpp
  python/rapidsmpf/rapidsmpf/benchmarks/streaming_benchmark.py
  python/rapidsmpf/rapidsmpf/examples/bulk_mpi_shuffle.py
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pxd
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pyi
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pyx
Labels: breaking, improvement

#347 Use C++20 standard
  cpp/.clang-format
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/examples/CMakeLists.txt
  cpp/src/communicator/ucxx.cpp
  cpp/tests/CMakeLists.txt
Labels: breaking, improvement

#301 Add devcontainers
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/pr.yaml
  dependencies.yaml
  pyproject.toml
Labels: improvement, non-breaking

#354 Fix lifetime issues in Cython BufferResource
  python/rapidsmpf/rapidsmpf/buffer/resource.pxd
  python/rapidsmpf/rapidsmpf/buffer/resource.pyx
Labels: bug, non-breaking

#305 Memory profiler
  cpp/benchmarks/bench_shuffle.cpp
  cpp/include/rapidsmpf/buffer/resource.hpp
  cpp/include/rapidsmpf/integrations/cudf/partition.hpp
  cpp/include/rapidsmpf/progress_thread.hpp
  cpp/include/rapidsmpf/shuffler/shuffler.hpp
  cpp/include/rapidsmpf/statistics.hpp
  cpp/include/rapidsmpf/utils.hpp
  cpp/src/integrations/cudf/partition.cpp
  cpp/src/rmm_resource_adaptor.cpp
  cpp/src/statistics.cpp
  cpp/tests/test_rmm_resource_adaptor.cpp
  cpp/tests/test_statistics.cpp
Labels: improvement, non-breaking

#363 Use CUDA 12.9 in Conda, Devcontainers, Spark, GHA, etc.
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/pr.yaml
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking
