Repository rapidsai/rapidsmpf, pull requests merged in 2025-08, with the labels that each got.

#412 pylibcudf and rmm python packages are not optional
  dependencies.yaml
  python/rapidsmpf/pyproject.toml
Labels: bug, non-breaking

#380 Add single-worker shuffle integration and Dask-cuDF example
  ci/run_pytests.sh
  docs/source/api.md
  python/rapidsmpf/rapidsmpf/examples/dask.py
  python/rapidsmpf/rapidsmpf/integrations/__init__.py
  python/rapidsmpf/rapidsmpf/integrations/core.py
  python/rapidsmpf/rapidsmpf/integrations/dask/__init__.py
  python/rapidsmpf/rapidsmpf/integrations/dask/core.py
  python/rapidsmpf/rapidsmpf/integrations/dask/shuffler.py
  python/rapidsmpf/rapidsmpf/integrations/single.py
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
Labels: feature request, non-breaking

#413 Shuffle.extract(): don't unspill extracted partitions
  cpp/benchmarks/bench_shuffle.cpp
  cpp/examples/example_shuffle.cpp
  cpp/include/rapidsmpf/buffer/buffer.hpp
  cpp/include/rapidsmpf/integrations/cudf/partition.hpp
  cpp/src/integrations/cudf/partition.cpp
  cpp/src/shuffler/shuffler.cpp
  cpp/tests/test_shuffler.cpp
  python/rapidsmpf/rapidsmpf/examples/bulk_mpi_shuffle.py
  python/rapidsmpf/rapidsmpf/examples/dask.py
  python/rapidsmpf/rapidsmpf/examples/ray/bulk_ray_shuffle.py
  python/rapidsmpf/rapidsmpf/examples/ray/ray_shuffle_example.py
  python/rapidsmpf/rapidsmpf/integrations/cudf/partition.pxd
  python/rapidsmpf/rapidsmpf/integrations/cudf/partition.pyi
  python/rapidsmpf/rapidsmpf/integrations/cudf/partition.pyx
  python/rapidsmpf/rapidsmpf/tests/test_shuffler.py
Labels: breaking, improvement

#418 Require approval to run CI on draft PRs
  .github/copy-pr-bot.yaml
Labels: improvement, non-breaking

#423 Fixed exception handling in Statistics.get_stat
  python/rapidsmpf/rapidsmpf/statistics.pyx
  python/rapidsmpf/rapidsmpf/tests/test_statistics.py
Labels: improvement, non-breaking

#426 fix `RAPIDSMPF_BUILD_EXAMPLES`
  cpp/CMakeLists.txt
  cpp/include/rapidsmpf/shuffler/chunk.hpp
  cpp/tests/utils.hpp
Labels: bug, non-breaking

#417 Refactor worker context initialisation for dask integration
  python/rapidsmpf/rapidsmpf/integrations/core.py
  python/rapidsmpf/rapidsmpf/integrations/dask/core.py
  python/rapidsmpf/rapidsmpf/integrations/dask/shuffler.py
  python/rapidsmpf/rapidsmpf/integrations/single.py
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
Labels: improvement, non-breaking

#430 Unpin OpenMPI
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/librapidsmpf/recipe.yaml
  dependencies.yaml
Labels: bug, non-breaking

#428 Drop gil when getting statistics
  python/rapidsmpf/rapidsmpf/statistics.pyx
Labels: bug, non-breaking

#435 Set default memory type to pool
  ci/run_cpp_benchmark_smoketests.sh
  cpp/benchmarks/bench_comm.cpp
  cpp/benchmarks/bench_shuffle.cpp
Labels: bug, non-breaking

#441 CudaEvent helper class
  cpp/include/rapidsmpf/buffer/buffer.hpp
  cpp/include/rapidsmpf/buffer/resource.hpp
  cpp/include/rapidsmpf/cuda_event.hpp
  cpp/src/buffer/buffer.cpp
  cpp/src/buffer/resource.cpp
  cpp/src/cuda_event.cpp
  cpp/src/shuffler/chunk.cpp
  cpp/src/shuffler/shuffler.cpp
  cpp/tests/test_buffer_resource.cpp
Labels: improvement, non-breaking

#377 Adding an initial AllGather implementation
  cpp/include/rapidsmpf/allgather/allgather.hpp
  cpp/include/rapidsmpf/shuffler/chunk.hpp
  cpp/include/rapidsmpf/shuffler/shuffler.hpp
  cpp/src/allgather.cpp
  cpp/src/shuffler/shuffler.cpp
  cpp/tests/test_allgather.cpp
Labels: improvement, non-breaking

#438 Properly track shuffle device memory allocations
  cpp/benchmarks/bench_shuffle.cpp
  cpp/benchmarks/utils/random_data.hpp
  cpp/include/rapidsmpf/buffer/buffer.hpp
  cpp/include/rapidsmpf/buffer/resource.hpp
  cpp/include/rapidsmpf/integrations/cudf/partition.hpp
  cpp/include/rapidsmpf/integrations/cudf/utils.hpp
  cpp/src/buffer/resource.cpp
  cpp/src/integrations/cudf/partition.cpp
  cpp/src/integrations/cudf/utils.cpp
  cpp/tests/test_cudf_utils.cpp
  cpp/tests/test_partition.cpp
  cpp/tests/test_shuffler.cpp
  cpp/tests/utils.hpp
Labels: improvement, non-breaking

#429 Use build cluster in devcontainers
  .devcontainer/Dockerfile
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/pr.yaml
  cpp/benchmarks/CMakeLists.txt
  cpp/examples/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: improvement, non-breaking

#450 [MINOR] Enable overbooking by default in cudf utils
  cpp/include/rapidsmpf/integrations/cudf/partition.hpp
  cpp/src/buffer/resource.cpp
  cpp/src/integrations/cudf/utils.cpp
Labels: improvement, non-breaking

#444 CudaEvent fix
  cpp/include/rapidsmpf/cuda_event.hpp
  cpp/src/cuda_event.cpp
Labels: bug, non-breaking

#455 Refactor dependency specifications to align with RAPIDS standards
  ci/test_cpp.sh
  ci/test_python.sh
  dependencies.yaml
  python/rapidsmpf/pyproject.toml
Labels: improvement, non-breaking

#457 Added documentation for statistics
  docs/source/api.md
  docs/source/background.md
  docs/source/conf.py
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pyx
  python/rapidsmpf/rapidsmpf/statistics.pyx
Labels: doc, non-breaking

#465 Update rapids-dependency-file-generator
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#471 Fix missing shuffle stream argument
  cpp/src/streaming/cudf/shuffler.cpp
Labels: bug, non-breaking

#463 Added background docs
  cpp/examples/example_shuffle.cpp
  docs/source/_static/rapidsmpf-shuffle-table-fs8.png
  docs/source/_static/rapidsmpf-shuffler-transparent-fs8.png
  docs/source/background.md
Labels: doc, non-breaking

#473 [Streaming] Type-erased channels
  cpp/benchmarks/streaming/bench_streaming_shuffle.cpp
  cpp/benchmarks/streaming/data_generator.hpp
  cpp/include/rapidsmpf/streaming/core/channel.hpp
  cpp/include/rapidsmpf/streaming/core/leaf_node.hpp
  cpp/include/rapidsmpf/streaming/cudf/partition.hpp
  cpp/include/rapidsmpf/streaming/cudf/shuffler.hpp
  cpp/src/streaming/core/leaf_node.cpp
  cpp/src/streaming/cudf/partition.cpp
  cpp/src/streaming/cudf/shuffler.cpp
  cpp/tests/streaming/test_leaf_node.cpp
  cpp/tests/streaming/test_partition.cpp
  cpp/tests/streaming/test_shuffler.cpp
Labels: breaking, improvement, streaming

#445 Add CUPTI memory monitor
  ci/run_cpp_benchmark_smoketests.sh
  ci/run_cpp_example_smoketests.sh
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/librapidsmpf/recipe.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/bench_comm.cpp
  cpp/benchmarks/bench_shuffle.cpp
  cpp/examples/CMakeLists.txt
  cpp/examples/example_cupti_monitor.cpp
  cpp/include/rapidsmpf/cupti.hpp
  cpp/src/cupti.cpp
  cpp/tests/test_cupti_monitor.cpp
  dependencies.yaml
Labels: feature request, non-breaking
