Repository rapidsai/rapidsmpf, pull requests merged in 2025-09, with the labels that each got.

#481 Remove possibility of race condition when using extract_ready
  cpp/include/rapidsmpf/allgather/allgather.hpp
  cpp/src/allgather/allgather.cpp
Labels: bug, non-breaking

#466 Build and test with CUDA 13.0.0
  .devcontainer/cuda13.0-conda/devcontainer.json
  .devcontainer/cuda13.0-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  ci/test_wheel.sh
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  conda/recipes/rapidsmpf/recipe.yaml
  dependencies.yaml
  python/rapidsmpf/pyproject.toml
Labels: improvement, non-breaking

#485 Simplify the shuffler's empty partition handling
  cpp/include/rapidsmpf/allgather/allgather.hpp
  cpp/include/rapidsmpf/buffer/resource.hpp
  cpp/include/rapidsmpf/error.hpp
  cpp/include/rapidsmpf/integrations/cudf/partition.hpp
  cpp/include/rapidsmpf/shuffler/finish_counter.hpp
  cpp/include/rapidsmpf/shuffler/postbox.hpp
  cpp/include/rapidsmpf/shuffler/shuffler.hpp
  cpp/include/rapidsmpf/streaming/cudf/partition.hpp
  cpp/src/shuffler/finish_counter.cpp
  cpp/src/shuffler/postbox.cpp
  cpp/src/shuffler/shuffler.cpp
  cpp/tests/test_shuffler.cpp
Labels: improvement, non-breaking

#489 Revise ``Spillable`` and ``SpillableCollection`` behavior
  python/rapidsmpf/rapidsmpf/buffer/spill_collection.py
  python/rapidsmpf/rapidsmpf/integrations/dask/spilling.py
  python/rapidsmpf/rapidsmpf/tests/test_dask_spilling.py
  python/rapidsmpf/rapidsmpf/tests/test_spill_collection.py
Labels: improvement, non-breaking

#494 Use branch-25.10 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#496 postbox_spilling(): warn about temporary emptiness.
  cpp/src/shuffler/shuffler.cpp
Labels: improvement, non-breaking

#497 Cython `None` guards
  python/rapidsmpf/rapidsmpf/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/buffer/packed_data.pyx
  python/rapidsmpf/rapidsmpf/buffer/resource.pyx
  python/rapidsmpf/rapidsmpf/buffer/spill_manager.pyx
  python/rapidsmpf/rapidsmpf/communicator/communicator.pyx
  python/rapidsmpf/rapidsmpf/communicator/mpi.pyx
  python/rapidsmpf/rapidsmpf/communicator/single.pyx
  python/rapidsmpf/rapidsmpf/communicator/ucxx.pyi
  python/rapidsmpf/rapidsmpf/communicator/ucxx.pyx
  python/rapidsmpf/rapidsmpf/config.pyx
  python/rapidsmpf/rapidsmpf/cuda_stream.pxd
  python/rapidsmpf/rapidsmpf/cuda_stream.pyi
  python/rapidsmpf/rapidsmpf/cuda_stream.pyx
  python/rapidsmpf/rapidsmpf/integrations/cudf/partition.pxd
  python/rapidsmpf/rapidsmpf/integrations/cudf/partition.pyx
  python/rapidsmpf/rapidsmpf/progress_thread.pyx
  python/rapidsmpf/rapidsmpf/shuffler.pyx
  python/rapidsmpf/rapidsmpf/statistics.pyx
  python/rapidsmpf/rapidsmpf/streaming/core/channel.pyx
  python/rapidsmpf/rapidsmpf/streaming/cudf/partition.pyx
  python/rapidsmpf/rapidsmpf/streaming/cudf/partition_chunk.pyx
  python/rapidsmpf/rapidsmpf/streaming/cudf/table_chunk.pyx
  python/rapidsmpf/rapidsmpf/tests/streaming/test_table_chunk.py
  python/rapidsmpf/rapidsmpf/tests/test_cuda_stream.py
  python/rapidsmpf/rapidsmpf/utils/CMakeLists.txt
Labels: improvement, non-breaking

#501 Run CUPTI C++ example with timeout and stack
  ci/run_cpp_example_smoketests.sh
  dependencies.yaml
Labels: bug, non-breaking

#502 Fix test workflow
  .github/workflows/test.yaml
Labels: bug, non-breaking

#462 Enabling callbacks for Shuffler
  cpp/include/rapidsmpf/shuffler/finish_counter.hpp
  cpp/include/rapidsmpf/shuffler/shuffler.hpp
  cpp/include/rapidsmpf/streaming/cudf/shuffler.hpp
  cpp/src/shuffler/finish_counter.cpp
  cpp/src/shuffler/postbox.cpp
  cpp/src/shuffler/shuffler.cpp
  cpp/tests/streaming/test_shuffler.cpp
  cpp/tests/test_shuffler.cpp
Labels: breaking, improvement

#505 Add `known_first_party` configuration for isort
  .pre-commit-config.yaml
  pyproject.toml
Labels: bug, non-breaking

#513 Configure repo for automatic release notes generation
  .github/release.yml
Labels: improvement, non-breaking

#527 [MINOR] Proper shuffler shutdown
  cpp/include/rapidsmpf/shuffler/shuffler.hpp
  cpp/src/shuffler/shuffler.cpp
  cpp/tests/test_shuffler.cpp
Labels: bug, non-breaking

#517 Add Dask integration for a join operation
  python/rapidsmpf/rapidsmpf/examples/dask.py
  python/rapidsmpf/rapidsmpf/integrations/core.py
  python/rapidsmpf/rapidsmpf/integrations/dask/join.py
  python/rapidsmpf/rapidsmpf/integrations/dask/shuffler.py
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
Labels: feature request, non-breaking

#540 Fix hang in boostrap_dask_cluster with new clients
  python/rapidsmpf/rapidsmpf/integrations/dask/core.py
  python/rapidsmpf/rapidsmpf/tests/test_dask.py
Labels: improvement, non-breaking

#531 Use a CUDA stream pool and remove many stream parameters from the API
  cpp/benchmarks/bench_comm.cpp
  cpp/benchmarks/bench_shuffle.cpp
  cpp/benchmarks/streaming/bench_streaming_shuffle.cpp
  cpp/benchmarks/utils/random_data.cu
  cpp/benchmarks/utils/random_data.hpp
  cpp/examples/example_shuffle.cpp
  cpp/include/rapidsmpf/allgather/allgather.hpp
  cpp/include/rapidsmpf/buffer/resource.hpp
  cpp/include/rapidsmpf/shuffler/chunk.hpp
  cpp/include/rapidsmpf/shuffler/shuffler.hpp
  cpp/include/rapidsmpf/streaming/cudf/partition.hpp
  cpp/include/rapidsmpf/streaming/cudf/shuffler.hpp
  cpp/src/allgather/allgather.cpp
  cpp/src/buffer/resource.cpp
  cpp/src/shuffler/chunk.cpp
  cpp/src/shuffler/shuffler.cpp
  cpp/src/streaming/cudf/partition.cpp
  cpp/src/streaming/cudf/shuffler.cpp
  cpp/tests/streaming/test_shuffler.cpp
  cpp/tests/test_allgather.cpp
  cpp/tests/test_chunk.cpp
  cpp/tests/test_shuffler.cpp
  cpp/tests/test_shuffler_many_streams.cpp
  python/rapidsmpf/rapidsmpf/allgather/allgather.pxd
  python/rapidsmpf/rapidsmpf/allgather/allgather.pyi
  python/rapidsmpf/rapidsmpf/allgather/allgather.pyx
  python/rapidsmpf/rapidsmpf/benchmarks/streaming_benchmark.py
  python/rapidsmpf/rapidsmpf/examples/bulk_mpi_shuffle.py
  python/rapidsmpf/rapidsmpf/integrations/core.py
  python/rapidsmpf/rapidsmpf/shuffler.pxd
  python/rapidsmpf/rapidsmpf/shuffler.pyi
  python/rapidsmpf/rapidsmpf/shuffler.pyx
  python/rapidsmpf/rapidsmpf/streaming/cudf/partition_chunk.pxd
  python/rapidsmpf/rapidsmpf/streaming/cudf/partition_chunk.pyi
  python/rapidsmpf/rapidsmpf/streaming/cudf/partition_chunk.pyx
  python/rapidsmpf/rapidsmpf/streaming/cudf/shuffler.pyi
  python/rapidsmpf/rapidsmpf/streaming/cudf/shuffler.pyx
  python/rapidsmpf/rapidsmpf/tests/streaming/test_shuffler.py
  python/rapidsmpf/rapidsmpf/tests/test_allgather.py
  python/rapidsmpf/rapidsmpf/tests/test_shuffler.py
  python/rapidsmpf/rapidsmpf/utils/ray_utils.py
Labels: breaking, improvement
